# Trial notebook
Here I will try to follow the course from Bham.

In [23]:
fruit = [' banana ', ' apple ', ' pineapple ']
fruit

[' banana ', ' apple ', ' pineapple ']

In [24]:
fruit = [f.strip() for f in fruit]

In [25]:
fruit

['banana', 'apple', 'pineapple']

In [26]:
numbers = [1,2,3,4,5,6,7,8,9]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
numbers = [n**2 for n in numbers if n%2 == 0]
numbers

[4, 16, 36, 64]

In [28]:
class MyClass(object):
    def __init__(self, m, c=0.0):
        self.m = m
        self.c = c
        
    def calc(self, x):
        return self.m * x + self.c

In [29]:
MyObject = MyClass(2,4)
MyObject.calc(0)

4

In [30]:
MyObject.calc(1)

6

# Exercise 1

In [31]:
a = [0,1,2,3,4,5,6,7,8,9]
len(a)

10

In [32]:
import numpy as np

In [33]:
def IperbolicIdentity(x):
    b = np.sinh(x)
    a = np.cosh(x)
    return a*a-b*b

In [34]:
a = [ IperbolicIdentity(b) for b in a ]
a

[1.0,
 1.0000000000000002,
 1.0000000000000018,
 0.9999999999999716,
 1.0,
 1.000000000001819,
 1.000000000007276,
 1.0000000000582077,
 1.0,
 1.0]

In [35]:
def EnumerateIndices(x,n):
    a = []
    for index, item in enumerate(x):
        if item%n == 0:
            a.append(item)
    return a

In [36]:
trial = [1,2,3,4,5,6]

In [37]:
EnumerateIndices(trial,2)

[2, 4, 6]

In [38]:
c = np.arange(0,10,0.5)

In [39]:
c

array([0. , 0.5, 1. , 1.5, 2. , 2.5, 3. , 3.5, 4. , 4.5, 5. , 5.5, 6. ,
       6.5, 7. , 7.5, 8. , 8.5, 9. , 9.5])